page-mensagens {
    .img-user{max-height: 50px}
    .nome-msg{font-size: 20px;font-weight: 600;line-height: 0px;}
    .animal-msg{line-height: 5px;}
    .item-msg{border-bottom:1px solid #c0c0c0; max-height: 70px}
    .preview-msg{font-weight: 300;font-style: italic}
    .img-pet{max-width: 30px; position: absolute; bottom: 5px; right: 0;} 
    .aviso-final{color:#666;}
}
