page-mensagem {
    .btn-adocao{color: #fff; padding: 10px 0; width: 100%; text-transform: uppercase; border-radius: 0}
    .msg{padding: 10px; font-size: 12px; border-radius:15px; border:1px solid #c0c0c0; max-width: 250px; margin:0}
    .msg-eu{background:#fff; color:#666}
    .msg-outro{background:#2196F3; color:#fff; float:right}
    .img-topo{max-width: 40px; border-radius: 50%; border: 1px solid #c0c0c0}
}
